body {
    background-image: url("pic.jpg"); 
    }
p {
    width:70%; 
    margin-left:auto; 
    margin-right: auto;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    }
h1 {
    color: white;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 50px;
    }
#buttons {
    position:fixed;
    right:50px;
    top:30px;
    }
a{
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:23px;
  opacity: 0.5;
  text-decoration: none;
}
