svg:not(#runner) .eye{
    fill:white;
    stroke:black;
    stroke-width:1;
}

#animation1, #animation2{
    position:absolute;
    top:-30px;
    left:-160px
}

#animation3{
    position:absolute;
    bottom:0px;
    right:0px;
}

.hide {
    visibility:hidden;
}

.hair{
    stroke:black;
    stroke-width:1;
}

.test{
    position:fixed;
    bottom:10px;
    left:10px;
}

div#animation{
    height:100%;
    width:100%;
}

#runner .leg{
    stroke:#000099;
    stroke-width:3;
    fill:none;
}

#runner .arm{
    stroke:black;
    stroke-width:1;
    fill:none;
}

#runner{
    position:fixed;
    top:50%;
    left:50%;
}

#cookie{
    position:fixed;
    width:10px;
    height:10px;
}
