@media only screen and (max-width:640px){

    #animateCheckbox{
        display:none; /*no animation on mobile*/
    }

    #homepage{
        top:25%;
    }

    #homepage h1{
        font-size: 30px;
    }

    #homepage p{
        display:none;
    }

    #buttons div {
        position:fixed;
    }

    #about { top:35%; }
    #contact { top:35%; }
    #resume { top:40%; }
    #project { top:45%; }



    
}
