@media only screen and (max-width:750px){

    body{
        margin: 3px;
        padding: 0px;
    }

    #animateCheckbox{
        display:none; /*no animation on mobile*/
    }

    h1{
        font-size: 30px;
    }

    #animation{
        display:none;
    }

    #homepage{
        top:25%;
    }

    #homepage p{
        margin-top:20px;
    }
    

    #buttons {
       display:none;
    }

    .mobile{
        display:block;
    }

    .hidden{
        display:none;
    }

    .mobileButtons{
        position:fixed;
        width:100%;
        bottom:0px;
    }

    .mobile.homebuttondiv{
        width:100%;
        position:fixed;
        top:0px;
    }

    .mobileButtons div ,.mobile.homebuttondiv div, #mobileTopDiv{
        display: inline-block;
        width: 24%;
        height: 40px;
        text-align:center;
        white-space: nowrap;
        outline-color:white;
        outline-style: groove;
        background-color:white;
    }

    #mobileTopDiv{
        display:block;
        width: 30px;
    }

    .mobileButtons img, #mobileHome img, #mobileBacktotop img{
        height: 30px;
        width: 30px;
    }

    .mobile.homebuttondiv div{
        margin: 0 auto;
        display: block;
    }

    .mobile.backtotop{
        position: fixed;
        bottom: 45px;
        right: 1%;
    }

    .backtotop:not(.mobile){
        display:none;
    }

    #aboutpage{
        top: 5%;
    }

    #aboutpage p{
        width:85%;
    }

    #aboutpage .picofme{
        width: 50%;
        height: initial;
    }

    #resumepage *:not(.column){
        width: 90%;
    }

    #resumepage h1{
        font-size:40px;
        margin: 5px;
    }

    #contactpage a{
        font-size:20px;
    }

    .projectpic{
        width: 80%;
    }

    .gympic{
        width: 25%;
        height: initial;
    }

    .page {
        width: 95%;
    }


    @media only screen and (max-width:410px){

        body{
            margin-left:2px;
        }

        .mobileButtons div ,.mobile.homebuttondiv div, #mobileTopDiv{
            height:50px;
        }

        .mobileButtons img, .mobile.backtotop img, .mobile.homebuttondiv img{
            margin-top: 10px;
        }

        #aboutpage, #resumepage, #projectpage{
            top: 10%;
        }

        .mobile.backtotop{
        position: fixed;
        bottom: 55px;
        right: 1%;
        }
    }
    
}
