#backdrop{
    position: absolute;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    z-index:-1;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
}

a {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:25px;
    opacity: 0.5;    
    text-decoration: none;
    transition: opacity 1s;
    cursor: pointer;
}

p{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#homepage {
    position:absolute;
    width: 100%;
    top:45%;
}

#homepage * {
    margin: 0px auto;
}

#aboutpage{
    display: none;
    position:absolute;
    top:100px;
    width:100%;
}

#aboutpage p{
    width:700px; 
    margin: 0 auto;
}

.picofme{
    width: 300px;
    height: 450px;
    margin: 10px auto;
    display: block;
}

#contactpage{
    display:none;
    position:absolute;
    top:200px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

#contactpage a{
    opacity:1;
}

#resumepage{    
    width:100%;
    display:none;
    position:absolute;
    top: 10px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#projectpage{
    display: none;
    position:absolute;
    top: 30px;
    width:100%;
}

#projectpage a{
    opacity:1;
    text-decoration:underline;
}

#resumepage h1{
    font-size:50px;
    text-align: center;
}

#des {
    color:white;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#about {position:fixed; top:10%; right:90%;}
#contact {position:fixed; top:10%; right:10%;}
#resume {position:fixed; top:90%; right:90%;}
#project{position:fixed; top:90%; right:10%;}
#home {display:none; position:fixed; top: 20px; right: 50px}

#contactpage p{
    text-align:center;
}
a:hover{
    opacity:1;
}

#backtotop {
    display: none;
    position:fixed;
    bottom:30px;
    right:50px;
}

#projectpage img {
    width: 45%;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.right {
    position: relative;
    left: 25px;
}

#skills h3{
    margin: 5px auto;
    margin-left: -20px;
}
